*.so
*.pyc
in.*
*.xyz
*.log
restart
traj
log.*
*.py~
*.pyc~
out*
build
PyDEM.egg-info
dist
.config
*.c
PyGran.egg-info*
*.ipynb
PyGran/demo/scripts/DEM/multisphere/mesh/tumbler.stl
LIGGGHTS-PUBLIC
_docs
_manual
