[submodule "src/PyGran/params"]
	path = src/PyGran/params
	url = ssh://github.com-andrew-abimansour/Andrew-AbiMansour/PyGran.params.git
[submodule "src/PyGran/analysis"]
	path = src/PyGran/analysis
	url = ssh://github.com-andrew-abimansour/Andrew-AbiMansour/PyGran.analysis.git
[submodule "src/PyGran/simulation"]
	path = src/PyGran/simulation
	url = ssh://github.com-andrew-abimansour/Andrew-AbiMansour/PyGran.simulation.git
