global-include *.pyx
include src/PyGran/simulation/model_template.h src/PyGran/gui/Icons/*.png
recursive-include src/PyGran *.stl *.html *.py *.so
recursive-include src/PyGran_tests *.stl *.html *.py *.so
